.well-being-page{
    width: 80%;
    height: 100%;
    flex-direction: column;
}
.well-being-page > .bottom-part {
    flex-grow: 1;
    gap: 24px;
}
.activities > div {
    box-shadow: var(--drop-shadow);
    flex-grow: 1;
    align-items: center;
    border-radius: 10px;
    background-color: var(--accent);
}
.bottom-part > .activities {
    flex-basis: 40%;
    flex-direction: column;
    gap: 24px;
}
.activities > div {
    cursor: pointer;
}
.activities > div:hover {
    background: var(--dark-text);
}
.activities > div:hover > h2 {
    color: white;
}
.activities > .listen-music > h2 {
    font-weight: 600;
    width: 50%;
}
.activities > .meditate > h2{
    margin:  0 auto;
    font-size: 2rem;
    transform: translateX(30px);
}