.task{
    margin-bottom: 12px;
    /* box-shadow: var(--drop-shadow); */
    border-radius: 10px;
    background-color: var(--secondary);
    width: 100%;
    align-items: center;
    height: 60px;
    padding: 8px;
    cursor: pointer;
}
.task img{
    height: 100%;
}
.task-details{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: var(--dark-text);
}
.task-details h3 {
    font-weight: 400;
}
.kebab-menu {
    flex-direction: column;
    margin-right: 12px;
    margin-left: auto;
    width: 10px;
    gap: 6px;
}
.kebab-menu:hover > div {
    background-color: white;
}
.kebab-menu > div {
    border-radius: 3px;
    width: 7px;
    aspect-ratio:  1;
    flex-grow: 1;
    background-color: black;
}
.label{
    text-align: center;
    font-weight: 300;
    color: white;
    width: 60px;
    padding: 1px;
    font-size: 0.9rem;
    border-radius: 4px;
    background-color: #3B4A3F;
}

.checkbox{
    margin: auto 0;
    border-radius: 2px;
    border: 4px var(--dark-text) solid;
    height: 80%;
    aspect-ratio: 1;
    margin-right: 12px;
}