.create-task{
    flex-direction: column;
    flex-shrink: 0;
    width: 90%;
    gap: 4px;
    flex-basis: 20%;
    margin: auto auto 0 auto;
}
.create-task > .wrapper {
    flex-basis: 50%;
    width: 85px;
    margin-top: auto;
    scale: 1 -1 1;
    position: relative;
    flex-direction: column;
}
.create-task > .wrapper > .selected-label {
    width: 100%;
    position: absolute;
    margin-bottom: auto;
    flex-direction: column;
    gap: 2px;
    overflow: hidden;
    background: white;
    padding: 0;
    height: 23px;
    transition: height 0.3s;
    flex-shrink: 0;
    border-radius: 4px;
}
.selected-label * {
    flex-shrink: 0 !important;
}
/* .create-task .wrapper > .selected-label:hover {
    height: auto;
} */
.create-task .wrapper > .selected-label > button:hover{
    color: white;
    background: var(--secondary);
}
.create-task > .wrapper > .selected-label >  button {
    align-items: center;
    transform: scaleY(-1);
    height: 23px;
    margin: 0;
    justify-content: center;
    border-radius: 4px;
    background: white;
}
.create-task > .wrapper > .selected-label > button > p {
    text-overflow: ellipsis !important;
    overflow: hidden;
    max-width: 55px;
}
.create-task .selected-label > button > img {
    height: 15px;
    scale: 0.6;
    transition: rotate 0.3s;
    /* rotate: -90deg; */
}
.create-task > :nth-child(2){
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    margin-top: auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}
.create-task > :nth-child(2) > button {
    border-radius: 8px;
    width: 150px;
    font-size: 1.1rem;
}
.create-task * {
    border: none;
}
.create-task div input {
    text-indent: 12px;
    flex-grow: 1;
}
.create-task div input:focus {
    outline: none;
}