.left-part > .clock {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.clock > svg {
    transform: scaleX(-1);
    rotate: 90deg;
}
.clock > svg > .progress-circle {
    stroke-linecap: round;
    animation: fill 20s forwards;
    stroke-dasharray: 1258.1292724609375;
}
.clock h1{
    font-size: 4.5rem;
    position: absolute;
}
