.task{
    position: relative;
    user-select: none;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: var(--secondary);
    width: 100%;
    align-items: center;
    height: 60px;
    padding: 8px;
    cursor: pointer;
}
.task img{
    height: 100%;
}
.task-details{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: var(--light-text);
}
.task-details h3 {
    font-weight: 400;
}
.kebab-menu {
    flex-direction: column;
    margin-right: 12px;
    margin-left: auto;
    width: 10px;
    gap: 6px;
}
.kebab-menu > .options {
    top: 0;
    flex-direction: column;
    right: 10px;
    width: 100px;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.3s;
    /* height: 0; */
    border-radius: 4px;
    overflow: hidden;
    box-shadow: var(--drop-shadow);
    position: absolute;
    background: white;
}
.kebab-menu > .options > button {
    height: 40px;
    border: none;
    background: white;
}
.kebab-menu > .options > button:hover {
    background: var(--secondary);
    color: white;
}
.kebab-menu:hover > div {
    background-color: white;
}
.kebab-menu > div {
    border-radius: 3px;
    width: 7px;
    aspect-ratio:  1;
    flex-grow: 1;
    background-color: black;
}
.label{
    text-align: center;
    font-weight: 300;
    color: white;
    width: fit-content;
    padding: 1px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
    background-color: #3B4A3F;
}
.label > p {
    display: inline;
}
.checkbox{
    margin: auto 0;
    border-radius: 100%;
    border: 4px var(--dark-text) solid;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1;
    margin-right: 12px;
}
.checkbox > svg{
    scale: 0.8;
    display: none;
    transform: translateY(1px);
    height: 100%;
    aspect-ratio: 1;
}
.finished .checkbox{
    background: var(--primary);
}
.finished .checkbox > svg {
    display: block;
}
.finished > .task-details h3, .finished > .task-details p{
    text-decoration: line-through;
    opacity: 0.8;
}