.call-to-action {
    box-shadow: var(--drop-shadow);
    align-items: center;
    gap: 8px;
    width: fit-content;
    border-radius: 10px;
    padding-left: 8px;
    margin-top: auto;
    margin-left: auto;
    background-color: white;
    cursor: pointer;
}
.call-to-action button {
    cursor: pointer;
    margin-left: auto;
    background-color: var(--secondary);
    color: var(--dark-text);
    font-weight: 700;
    font-size: large;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 10px;
}
