.task-progress {
    width: 350px;
}

.task-progress > .progress-card {
    flex-direction: column;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: var(--drop-shadow);
    height: 250px;
    padding: 15px;
    position: relative;
    background-color: var(--secondary);
}
.task-progress > .progress-card > button {
    width: 100px;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #00CCFF;
    margin-top: auto;
    margin-left: auto;
}
.task-progress > .progress-card > .progress-list {
    height: 150px;
    overflow: auto;
}
.task-progress > .progress-card > img {
    position: absolute;
    top: -35%;
    z-index: -1;
    height: 40%;
    right: 0;
}