:root {
    --primary: #40EB84;
    --secondary: #0095EF;
    --accent: #9EAFA2;
    --primary-gradient: linear-gradient(to bottom, #0CF 0, rgba(2, 99, 123, 0.79) 300%);
    --accent-gradient: linear-gradient(162deg, #758B7B 12.15%, #3B4A3F 95.65%);
    --light-text: #FFECEC;
    --dark-text: #3B4A3F;
    --light-accent-gradient: linear-gradient(154deg, #9EAFA2 16.55%, rgba(112, 125, 115, 0.82) 132.14%);
    --drop-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}
button {
    cursor: pointer;
}
.app {
    height: 100vh;
    flex-direction: column;
}
.flex {
    display: flex;
}
.page{
    height: 300px;
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1100px;
    padding-top: 50px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

