:root {
    --primary: #00CCFF;
    --primary-gradient: linear-gradient(to bottom, #0CF 0, rgba(2, 99, 123, 0.79) 300%);
    --accent-gradient: linear-gradient(162deg, #758B7B 12.15%, #3B4A3F 95.65%);
    --light-text: #FFECEC;
    --dark-text: #3B4A3F;
    --light-accent-gradient: linear-gradient(154deg, #9EAFA2 16.55%, rgba(112, 125, 115, 0.82) 132.14%);
    --drop-shadow: 0px 5px 7.7px 0px rgba(0, 0, 0, 0.25)
}
* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.flex {
    display: flex;
}
.page{
    margin: 0 auto;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 100px 12px 40px 12px;
    width: 100vw;
}
.page > main {
    width: 100%;
}