.label-modal {
    background: white;
    border-radius: 4px;
    padding: 4px 10px;
    gap: 15px;
    box-shadow: var(--drop-shadow);
}
.label-modal > .radio {
    height: 40px;
    border-radius: 100%;
    border: 4px solid var(--secondary);
    margin: auto 0;
    justify-content: center;
    align-items: center;
    padding: 4px;
    aspect-ratio: 1;
}
.label-modal > .radio > div {
    width: 100%;
    aspect-ratio: 1;
    background: white;
    border-radius: 100%;
}
.label-modal > .radio > .selected{
    background: var(--secondary);
}
.label-modal > .details {
    color: var(--dark-text);
}