.task-list {
    box-shadow: var(--drop-shadow);
    flex-direction: column;
    background-color: var(--primary);
    width: 100%;
    padding: 12px;
    flex-grow: 1;
    border-radius: 10px;
}
.task-list-container {
    margin-top: 12px;
    margin-bottom: auto;
}